.activity1{
    width: 100%;
    background-color: whitesmoke;
    height: 100%;
}

.activity1 h1{
    font-size: 3rem;
    padding: 2rem 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
}

.activity1 img{
    height: 35rem;
    width: 70%;
    margin: 1rem 4rem;
    object-fit: cover;
}

.activity1 p{
    font-size: 2rem;
    color: black;
    margin-left: 2rem;
    margin-top: 3rem;
}